host01 ansible_host={{ terraform_output.outputs.ceph_host.value[0] }}
host02 ansible_host={{ terraform_output.outputs.ceph_host.value[1] }}
host03 ansible_host={{ terraform_output.outputs.ceph_host.value[2] }}
[admin]
host00 ansible_host={{ terraform_output.outputs.admin_host.value }}


[all:vars]
ansible_user=cloud-user